@page
@model TimeCardSystem.API.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Time Card System Login</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="login-page">
    <div class="background-shapes">
        <div class="blue-circle"></div>
        <div class="orange-circle"></div>
    </div>
    <div class="login-container">
        <form method="post" class="login-form">
            <h2>Login Here</h2>
            @if (!ModelState.IsValid)
            {
                <div class="error">
                    @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
            <div class="form-group">
                <label for="Email">Username or Email</label>
                <input asp-for="Input.Email" placeholder="Enter your email" id="Email">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input asp-for="Input.Password" type="password" placeholder="Enter your password" id="Password">
            </div>
            <button type="submit" class="login-btn">Log In</button>
        </form>
    </div>
</body>
</html>